* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #36373a;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
}

.main-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tasks-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.thead {
  background-color: #484a50;
}

th, td {
  border: 1px solid #525a75;
  padding: 8px 10px;
}

.task-row:hover {
  background-color: #474a52;
  cursor: pointer;
}

.dialog {
  border: none;
  border-radius: 20px;
  position: relative;
  padding: 50px;
  background-color: #36373a;
  color: white;
}

.dialog::backdrop {
  background-color: #1d1d1d;
  opacity: 0.85;
}

.d-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-d {
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e67c7c;
  font-weight: 600;
  font-size: 20px;
  color: #e67c7c;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #36373a;
}

.close-d:hover {
  cursor: pointer;
  background-color: #45474b;
}

.task-details {
  height: 2rem;
  width: 100%;
  display: flex;
}

.task-key {
  display: flex;
  width: 12ch;
  font-weight: 600;
}

.task-form-div {
  display: flex;
  align-items: center;
}

.task-label {
  display: flex;
  width: 12ch;
  font-weight: 600;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.edit-btn, .form-btn, .add-project-button, .add-task-btn {
  border: 1px solid #525a75;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 600;
  color: white;
  background-color: #36373a;
  width: 100%;
  margin-top: 20px;
}

.edit-btn:hover, .form-btn:hover, .add-project-button:hover, .add-task-btn:hover {
  background-color: #45474b;
  cursor: pointer;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navigation {
  background-color: #404555;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.li-nav {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  gap: 30px;
}

.li-nav:hover {
  background-color: #525a75;
}

.project-delete-btn {
  background-color: #404555;
  border: 1px solid #525a75;
  border-radius: 5px;
  padding: 5px;
}

.project-delete-btn:hover {
  background-color: #8a5757;
}

.add-project-btn {
  background-color: #404555;
  border: 1px solid #525a75;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 10px 30px 0 30px;
}

.add-project-btn:hover {
  background-color: #525a75;
}

.add-project-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}