.educationBlock {
  display: flex;
  width: 100%;
  gap: 20px;
}

.educationBlockContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.educationDegree {
  font-size: 1.25rem;
  margin: 5px;
}

.educationUniversity {
  font-size: 1.1rem;
  margin: 5px;
}

.educationDateSection {
  display: flex;
  font-weight: 700;
  gap: 20px;
}

.educationSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInput {
  display: flex;
  flex-direction: column;
}

.educationForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.formButtons {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  align-items: center;
}

.formButton {
  width: 50px;
  height: 50px;
}

.educationTitle {
  width: 100%;
  text-align: center;
  margin: 5px;
}